* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color:steelblue
}
#rawBlock{
    width:25%;
}
#resultBlock {
    display:flex;
}
.realmOptions {
    display:flex;
}
.herbs{
    display:flex;
    text-align:right;
}
ul{
    list-style:none;
}
.items{
    text-align:center;
    display:flex;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}


