* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: url('/static/images/ironforge-auctionhouse.jpg');
    background-size:cover;
}
#rawBlock{
    width:25%;
    overflow:scroll;
    display:grid;
    max-height: 80vh;
    overflow: auto;
}
#rawBlock h1{
    text-align:center;
    color:grey;
    background-color:black;
    margin-top:5px;
    margin-bottom:0;

}
#summationBlock{
    width:45%;
    height:30%;
}
#summationBlock h1{
    text-align:center;
    color:grey;
    background-color:black;
    margin-top:5px;
}
#resultBlock{
display:flex;
}
.realmOptions {
    display:flex;
    background-color:black;
    color:whitesmoke;
    opacity:.75;
    border:black solid 2px;
    width:25%;
    padding:1%;
}
.herbs{
    display:flex;
    text-align:right;
    background-color:whitesmoke;
    opacity:.85;
    border:black solid 2px;
}
ul{
    list-style:none;
}
.items{
    text-align:center;
    display:flex;
    background-color:darkgreen;
    color:gold;
    opacity:.95;
    border:black solid 2px;
    justify-content:space-between;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.heading {
    text-align:center;
    color:grey;
    background-color:black;
}
.loginContainer {
    background-color:darkgreen;
    color:gold;
    opacity:.85;
    border:black solid 2px;
    width:20%;
}
.loginContainer h1{
    text-align:center;
    color:gold;
}
.btn {
    color:black;
    background-color:rgb(41, 187, 126);
    border:black;
}
.regLogin{
    display:flex;
    margin-top:5%;
}
.regLogin:nth-child(2){
margin-top:15%;
}
.logout{
margin-left:3%;
margin-top:3%;
}

.sumResults, .listResults{
    background-color:darkgreen;
    color:gold;
    opacity:.95;
}

