<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <title>Crafter's Corner</title>
</head>
<body>
    <h1>Crafterz Corner</h1>
    <hr>
        <div class="realmOptions">
            <form id="ah_query" class="container" action="/results" method="post">
                <label for="selectRealm">Select Realm from Dropdown </label>
                <select name="selectRealm" value="Select Realm">
                    {% for item in realmList %}
                    <option value="{{item[1]}}">{{item[0]}}</option>
                    {% endfor %}
                </select> <br>
                <label for="selectFaction">Select Faction AH from Dropdown </label>
                <select name="selectFaction" value="Select Faction">
                    <option value="2">Alliance AH</option>
                    <option value="6">Horde AH</option>
                    <option value="7">Booty Bay AH</option>
                </select> <br>
                <label for="query">Item you'd like to search for: </label>
                <input type="text" name="query">
                <input type="submit" value="test it out">
            </form>
        </div>
    <hr>
    <div class="helpWrapper">
        <div class="items container">
            <div>
                <h3>(test) Items</h3>
                <ul>
                    <li>The Oathkeeper | 31299</li>
                </ul>
            </div>
        </div>
        <div class="herbs container">
        <div>
            <h3>WotLK Herbs</h3>
            <ul>
                <li>Goldclover | 36901</li>
                <li>Tiger Lily | 36904</li>
                <li>Talandra's Rose | 36907</li>
                <li>Adder's Tongue | 36903</li>
                <li>Lichbloom | 36905</li>
                <li>Icethorn | 36906</li>
                <li>Frost Lotus | 36908</li>
            </ul>
        </div>
        <div>
            <h3>WotLK Potions</h3>
            <ul>
                <li>Indestructible Potion | 53905</li>
                <li>Potion of Speed | 54221</li>
                <li>Potion of Wild Magic | 54222</li>
                <li>Runic Healing Potion | 53836</li>
                <li>Runic Mana Potion | 53837</li>
            </ul>
        </div>
        <div>
            <h3>WotLK Elixirs</h3>
            <ul>
                <li>Wrath Elixir | 53841</li>
                <li>Spellpower Elixir | 53842</li>
                <li>Guru's Elixir | 53848</li>
                <li>Elixir of Mighty Strength | 54218</li>
                <li>Elixir of Spirit | 53847</li>
                <li>Elixir of Mighty Fortitude | 53898</li>
                <li>Elixir of Mighty Agility | 53840</li>
                <li>Elixir of Mighty Thoughts | 60367</li>
            </ul>
        </div>
        <div>
            <h3>WotLK Flasks</h3>
            <ul>
                <li>Flask of Endless Rage | 53903</li>
                <li>Flask of Pure Mojo | 54213</li>
                <li>Flask of Stoneblood | 53902</li>
                <li>Flask of the Frost Wyrm | 53901</li>
                <li>Lesser Flask of Toughness | 53899</li>
                <li>Lesser Flask of Resistance | 62213</li>
            </ul>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <hr>
    <a class="btn" href="/logout">Logout</a>
</body>
</html>