<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <title>Crafter's Corner</title>
</head>
<body>
    <h1 class="heading">Crafterz Corner</h1>
    <hr>
        <div class="realmOptions">
            <form id="ah_query" class="container" action="/results" method="post">
                <label for="selectRealm">Select Realm from Dropdown </label>
                <select name="selectRealm" value="Select Realm">
                    {% for item in realmList %}
                    <option value="{{item[1]}}">{{item[0]}}</option>
                    {% endfor %}
                </select> <br>
                <label for="selectFaction">Select Faction AH from Dropdown </label>
                <select name="selectFaction" value="Select Faction">
                    <option value="2">Alliance AH</option>
                    <option value="6">Horde AH</option>
                    <option value="7">Booty Bay AH</option>
                </select> <br>
                <label for="query">Item you'd like to search for: </label>
                <input type="text" name="query" placeholder="enter item ID">
                <input type="submit" value="Search">
            </form>
        </div>
    <hr>
    <div class="helpWrapper">
        <div class="items container">
            <div>
                <h3>(test) Items</h3>
                <ul>
                    <li>The Oathkeeper | 31299</li>
                </ul>
            </div>
        </div>
        <div class="herbs container">
        <div>
            <h3>WotLK Herbs</h3>
            <ul>
                <li>Goldclover | 36901</li>
                <li>Tiger Lily | 36904</li>
                <li>Talandra's Rose | 36907</li>
                <li>Adder's Tongue | 36903</li>
                <li>Lichbloom | 36905</li>
                <li>Icethorn | 36906</li>
                <li>Frost Lotus | 36908</li>
            </ul>
        </div>
        <div>
            <h3>WotLK Potions</h3>
            <ul>
                <li>Indestructible Potion | 40093</li>
                <li>Potion of Speed | 40211</li>
                <li>Potion of Wild Magic | 40212</li>
                <li>Runic Healing Potion | 33447</li>
                <li>Runic Mana Potion | 33448</li>
            </ul>
        </div>
        <div>
            <h3>WotLK Elixirs</h3>
            <ul>
                <li>Wrath Elixir | 40068</li>
                <li>Spellpower Elixir | 40070</li>
                <li>Guru's Elixir | 40076</li>
                <li>Elixir of Mighty Strength | 40073</li>
                <li>Elixir of Spirit | 40072</li>
                <li>Elixir of Mighty Fortitude | 40078</li>
                <li>Elixir of Mighty Agility | 39666</li>
                <li>Elixir of Mighty Thoughts | 44332</li>
            </ul>
        </div>
        <div>
            <h3>WotLK Flasks</h3>
            <ul>
                <li>Flask of Endless Rage | 46377</li>
                <li>Flask of Pure Mojo | 46378</li>
                <li>Flask of Stoneblood | 46379</li>
                <li>Flask of the Frost Wyrm | 46376</li>
            </ul>
        </div>
        </div>
    </div>
    <hr>
    <a class="btn btn-dark" href="/logout">Logout</a>
</body>
</html>