<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Magazine</title>
</head>
<body>
    <h1>Add a magazine</h1>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
    <hr>
    <form action="/magazine/add" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title">
        <br>
        <label for="description">Description:</label>
        <textarea name="description" rows="3" required></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

<hr>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</body>
</html>